<div class="profiles-grid">
  <div class="profile-item" data-attribute="esprit">
    <label>Esprit</label>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle attribute-circle {{#if (lte this ../actor.system.attributes.esprit.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.attributes.esprit.seuil}}</div>
    <input type="hidden" name="system.attributes.esprit.value" value="{{actor.system.attributes.esprit.value}}" data-dtype="Number"/>
  </div>
  <div class="profile-item" data-attribute="finesse">
    <label>Finesse</label>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle attribute-circle {{#if (lte this ../actor.system.attributes.finesse.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.attributes.finesse.seuil}}</div>
    <input type="hidden" name="system.attributes.finesse.value" value="{{actor.system.attributes.finesse.value}}" data-dtype="Number"/>
  </div>
  <div class="profile-item" data-attribute="gaillardise">
    <label>Gaillardise</label>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle attribute-circle {{#if (lte this ../actor.system.attributes.gaillardise.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.attributes.gaillardise.seuil}}</div>
    <input type="hidden" name="system.attributes.gaillardise.value" value="{{actor.system.attributes.gaillardise.value}}" data-dtype="Number"/>
  </div>
  <div class="profile-item" data-attribute="resolution">
    <label>Résolution</label>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle attribute-circle {{#if (lte this ../actor.system.attributes.resolution.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.attributes.resolution.seuil}}</div>
    <input type="hidden" name="system.attributes.resolution.value" value="{{actor.system.attributes.resolution.value}}" data-dtype="Number"/>
  </div>
  <div class="profile-item" data-attribute="panache">
    <label>Panache</label>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle attribute-circle {{#if (lte this ../actor.system.attributes.panache.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.attributes.panache.seuil}}</div>
    <input type="hidden" name="system.attributes.panache.value" value="{{actor.system.attributes.panache.value}}" data-dtype="Number"/>
  </div>
</div>

<div class="profiles-grid combat-attributes" style="margin-top: 20px; border-top: 1px solid #7a7971; padding-top: 20px;">
  <div class="profile-item combat" data-attribute="attaque">
    <label>Attaque</label>
    <div class="linked-attribute-select">
      <select name="system.combatAttributes.attaque.linkedAttribute">
        {{selectOptions config.attributes selected=actor.system.combatAttributes.attaque.linkedAttribute}}
      </select>
    </div>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle {{#if (lte this ../actor.system.combatAttributes.attaque.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.combatAttributes.attaque.seuil}}</div>
  </div>
  <div class="profile-item combat" data-attribute="defense">
    <label>Défense</label>
    <div class="linked-attribute-select">
      <select name="system.combatAttributes.defense.linkedAttribute">
        {{selectOptions config.attributes selected=actor.system.combatAttributes.defense.linkedAttribute}}
      </select>
    </div>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle {{#if (lte this ../actor.system.combatAttributes.defense.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.combatAttributes.defense.seuil}}</div>
  </div>
  <div class="profile-item combat" data-attribute="mouvement">
    <label>Mouvement</label>
    <div class="linked-attribute-select">
      <select name="system.combatAttributes.mouvement.linkedAttribute">
        {{selectOptions config.attributes selected=actor.system.combatAttributes.mouvement.linkedAttribute}}
      </select>
    </div>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle {{#if (lte this ../actor.system.combatAttributes.mouvement.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.combatAttributes.mouvement.seuil}}</div>
  </div>
  <div class="profile-item combat" data-attribute="degats">
    <label>Dégâts</label>
    <div class="linked-attribute-select">
      <select name="system.combatAttributes.degats.linkedAttribute">
        {{selectOptions config.attributes selected=actor.system.combatAttributes.degats.linkedAttribute}}
      </select>
    </div>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle {{#if (lte this ../actor.system.combatAttributes.degats.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.combatAttributes.degats.seuil}}</div>
  </div>
  <div class="profile-item combat" data-attribute="robustesse">
    <label>Robustesse</label>
    <div class="linked-attribute-select">
      <select name="system.combatAttributes.robustesse.linkedAttribute">
        {{selectOptions config.attributes selected=actor.system.combatAttributes.robustesse.linkedAttribute}}
      </select>
    </div>
    <div class="attribute-circles">
      {{#times 5}}
        <i class="far fa-circle {{#if (lte this ../actor.system.combatAttributes.robustesse.value)}}fas{{else}}far{{/if}}" data-index="{{this}}"></i>
      {{/times}}
    </div>
    <div class="attribute-seuil">Seuil {{actor.system.combatAttributes.robustesse.seuil}}</div>
  </div>
</div>