<div class="profiles-grid">
  <div class="profile-item">
    <label>Esprit</label>
    <input type="number" name="system.attributes.esprit.value" value="{{actor.system.attributes.esprit.value}}" min="1" max="5" data-dtype="Number"/>
  </div>
  <div class="profile-item">
    <label>Finesse</label>
    <input type="number" name="system.attributes.finesse.value" value="{{actor.system.attributes.finesse.value}}" min="1" max="5" data-dtype="Number"/>
  </div>
  <div class="profile-item">
    <label>Gaillardise</label>
    <input type="number" name="system.attributes.gaillardise.value" value="{{actor.system.attributes.gaillardise.value}}" min="1" max="5" data-dtype="Number"/>
  </div>
  <div class="profile-item">
    <label>Résolution</label>
    <input type="number" name="system.attributes.resolution.value" value="{{actor.system.attributes.resolution.value}}" min="1" max="5" data-dtype="Number"/>
  </div>
  <div class="profile-item">
    <label>Panache</label>
    <input type="number" name="system.attributes.panache.value" value="{{actor.system.attributes.panache.value}}" min="1" max="5" data-dtype="Number"/>
  </div>
</div>